/* create our main grid with flexbox, use negative margins to offset the padding on the .card-column class */
:root {
  --dark: rgb(57, 61, 61);
  --light: rgb(212, 132, 46);
}

#headline {
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: none;
  border-radius: 10px;
  position: fixed top;
  font-size: larger;
  padding: 15px;
  color: var(--dark);
  max-width: 550px;
}

.nav {
  display: flex;
  justify-content: space-around;
  text-justify: auto;
  background-color: var(--light);
  padding: 50px;
  color: var(--dark);
}

#about1 {
  grid-area: about1;
  background-color: var(--dark);
  justify-content: space-around;
}

#about3 {
  grid-area: about3;
  justify-content: space-around;
}

.website1,
.website2,
.website3 {
  padding: 10px;
  margin: 10px;
  background-color: grey;
  color: white;
  border-radius: 10px;
}

.about1,
.about2,
.about3 {
  padding: 5px;
  margin: 10px;
  color: var(--light);
  border-radius: 10px;
}

.about2 {
  opacity: 80%;
  background-color: var(--light);
  color: var(--dark);
}

/* Grid CSS */

#aboutGrid {
  margin: 0px 5%;
  display: grid;
  min-height: 250px;
  height: 50vh;
  grid-template-areas:
    "about3 about1 about2 about2"
    "about3 about1 about2 about2"
  ;
}

#workGrid {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-areas:
    "website1 website1 website1"
    "website2 website3 website3"
  ;
}

.website1 {
  grid-area: website1;
  background-image: url("../images/SailorMoon.jpg");

}

.website2 {
  grid-area: website2;
  background-image: url("../images/Jakes_Eatery.png");
  background-color: grey;

}

.website3 {
  grid-area: website3;
  background-image: url("../images/Horiseon.png");
}

.footer {
  display: flex;
  text-justify: center;
  justify-content: center;
  background-color: var(--light);
  padding: 30px;

}

.nav a {
  text-decoration: none;
  color: var(--dark);
  text-justify: inter-cluster;
}

/* media query for small screens */

@media only screen and (max-width: 800px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }